# Can contain personal info
**/Properties/launchSettings.json
*.suo
*.user
*.userosscache
**/TestResults
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.*
**/node_modules
*.binlog
.vs
.idea
artifacts
tmp

